<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
    <main>
        <h3 id = "detailHeader">Book</h3>
        <section class = "display-books">
            <img src="<%= book.image_url %>" alt="">
            <h3><%= book.title %> </h3>
            <h4><%= book.author %> </h4>
            <p><%= book.description %> </p>
            <p>ISBN: <%= book.isbn %></p>
            <a class = "style-button" href="/">Return</a>
    
       </section>
     <form action="/deleteData/<%= book.id %>?_method=Delete" method="post" id="myForm"> <button id="delete"> Delete</button></form> 
       <button id="byclick">Update</button>
       
       <section id="disypl">
       <form action="/updateData/<%= book.id %>?_method=PUT" method="post" id=>

       <input type="text" name="title" value="<%= book.title %>"><br>
       <textarea name="description"  cols="52" rows="20"><%= book.description %></textarea><br>
       <input type="text" name="author" value="<%= book.author %>"> <br>
       <input type="text" name ="isbn" value="<%= book.isbn %>"><br>
       <button type="submit" id="myupdateBu">update data</button>      
       </form>
   
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/app.js"></script>


<%- include('../partials/footer.ejs') %>